#img-bg{
  background-image: url('https://s3.getstickerpack.com/storage/uploads/sticker-pack/pucca/sticker_6.png?74234a633285ad2976d7da94bbf86dc6&d=200x200');

  min-height: 695px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
