#img-bg{
  background-image: url('http://assets.stickpng.com/thumbs/5a9c0fdf9fc609199d0ff071.png');

  min-height: 695px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
